asgiref==3.11.1
certifi==2026.5.20
charset-normalizer==3.4.7
click==8.4.0
colorama==0.4.6
cssbeautifier==1.15.4
Django==6.0.5
djangorestframework==3.17.1
djhtml==3.0.11
djlint==1.36.4
EditorConfig==0.17.1
idna==3.16
jsbeautifier==1.15.4
json5==0.14.0
pathspec==1.1.1
PyYAML==6.0.3
regex==2026.5.9
requests==2.34.2
ruff==0.15.13
six==1.17.0
sqlparse==0.5.5
tqdm==4.67.3
urllib3==2.7.0
